.container {
  padding: 20px;
}

.box-container {
  border: 2px solid;
  padding: 20px;
  margin: 20px;
}

.recipe-box {
  display: flex;
  padding-bottom: 10px;
  gap: 50px;
  align-items: center;
}
